/* Estilos compartilhados para os nós do fluxo */
.flow-node {
  background: #1f1f2a;
  border-radius: 1rem;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

/* Padronização dos handles */
.flow-node .react-flow__handle-right {
  right: -10px !important;
  transform: none !important;
}

.flow-node-header {
  background: #1f1f2a;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(67, 67, 88, 0.5);
}

.flow-node-content {
  padding: 1rem;
}

/* Estilo padrão para o Handle de entrada (Target) */
.flow-node-target {
  width: 40px !important;
  height: 12px !important;
  border-radius: 6px !important;
  background-color: #FF8A3D !important;
  border: 2px solid #E67E38 !important;
  top: 0 !important;
  transform: translateY(-30px) !important;
  left: 50% !important;
  margin-left: -20px !important;
}

/* Estilo padrão para o Handle de saída (Source) */
.flow-node-source {
  background-color: transparent !important;
  width: 18px !important;
  height: 18px !important;
  border: 3px solid #FF8A3D !important;
  transform: translateX(2em) !important;
  right: 0 !important;
}